
  {{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
{{/section}}
{{#section 'js'}}
	<script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/jquery.countdown.min.js"></script>
    <script src="../../js/jquery.nice-select.min.js"></script>
    <script src="../../js/jquery.zoom.min.js"></script>
    <script src="../../js/jquery.dd.min.js"></script>
    <script src="../../js/jquery.slicknav.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/main.js"></script>
   <script>
        function assign1(){
          var temp = document.getElementById('temp');
          temp.value = "1";
      }
        function assign2(){
          var temp = document.getElementById('temp');
          temp.value = "2";
      }
   </script>
{{/section}}
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        
                                
                                    {{#if this.empty}}
                                        <div class="card-body">
				                            <p class="card-text">
					                           Không có sản phẩm nào
				                            </p>
			                            </div>
                                    {{else}}
                                    <table>
                            <thead>
                                <div class="card-body">
				                            <p class="card-text">
					                           Các sản phẩm có người mua
				                            </p>
			                            </div>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Current Price</th>
                                    <th>Turn Auction</th>
                                    <th>Won Account</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                        {{#each this.bought}}
                                        <tr>
                                <td class="cart-pic first-row"><a href="/categories/detail/{{ID}}"><img src="/imgs/sp/{{PRODUCT_ID}}/main_thumb.jpg" alt=""></a></td>
                                    <td class="cart-title first-row ">
                                        <h5>{{NAME}}</h5>
                                    </td>
                                    <td class="p-price first-row">{{format PRICE}}</td>
                                    <td class="total-price first-row">{{TURN_AUCTION}}</td>
                                    <td class="total-price first-row">{{USERNAME}}</td>
                                   
 <td class="close-td first-row">  <a href="/categories/report/{{PRODUCT_ID}}/{{USER_ID}}"  data-toggle="modal" data-target="#exampleModalCenter"  class="primary-btn pd-cart">Report {{USERNAME}}</a></td>
                                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Chọn cộng hoặc trừ để đánh giá</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="" method="POST" id="frm{{ID}}">
                                        <input type="text" class="form-control" id="user" name="user" value={{ID}}
                                            style="display: none;" readonly>
                                         <input type="text" class="form-control" id="id" name="id" value={{PRODUCT_ID}}
                                            style="display: none;" readonly>
                                        <input type="text" class="form-control" id="temp" name="temp" value="0"
                                            style="display: none;" readonly>
                                              <div class="modal-footer">
                                        <button type="submit" class="btn btn-success icon_plus_alt2" onclick="assign1()"></button>
                                        <button type="submit" class="btn btn-danger icon_minus_alt2" onclick="assign2()" ></button>
                                    </div>
                                    </form>
                                      
                                  
                                    </div>
                                </div>
                                </div>
                                    
                                        </tr>   
                                        {{/each}}
                                    {{/if}}
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
 